Options +FollowSymLinks -MultiViews
RewriteEngine On

# Como a pasta 'api' agora é a raiz do Apache, a base vira '/'
RewriteBase /

# Se não for um arquivo ou pasta física real no disco
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Encaminha o tráfego de forma limpa para o index.php
RewriteRule ^(.*)$ index.php [QSA,L]